<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debate Ended...</title>
</head>
<body>
    <p style="text-align:center">Debate Ended...</p>
    <script>
        parent.postMessage("class-ended", "*");
    </script>
</body>
</html>
